In [146]:
import numpy as np
import pandas as pd
import re

In [155]:
mta_data = pd.read_csv("data/subway.csv")

mta_data.columns = map(str.lower, mta_data.columns)

mta_data.drop(columns=["objectid", "url"], inplace=True)

cur_lon, cur_lat = list(zip(*[ 
    re.search("(?<=\()[^)]*(?=\))", cur_geom).group(0).split() for cur_geom in mta_data.the_geom 
]))

mta_data["latitude"] = cur_lat
mta_data["longitude"] = cur_lon

mta_data.drop(columns=["the_geom"], inplace=True)

mta_data

,name,line,latitude,longitude
0,Birchall Ave & Sagamore St at NW corner,2-5,40.84916900104506,-73.86835600032798
1,Birchall Ave & Sagamore St at NE corner,2-5,40.84912800131844,-73.86821300022677
2,Morris Park Ave & 180th St at NW corner,2-5,40.84122300105249,-73.87349900050798
3,Morris Park Ave & 180th St at NW corner,2-5,40.84145300067447,-73.8728919997833
4,Boston Rd & 178th St at SW corner,2-5,40.84081500075867,-73.87962300013866
...,...,...,...,...
1923,2nd Ave & bet 83rd & 84th St,Q,40.77618770946792,-73.95281423699555
1924,2nd Ave & 96th St at SW corner,Q,40.784098884955554,-73.94747299691045
1925,2nd Ave & 95th St at NW corner,Q,40.783916088309326,-73.94761889814153
1926,2nd Ave & 94th St at NE corner,Q,40.78292438898596,-73.94772938539093
1927,2nd Ave & 94th St at SW corner,Q,40.78296690878563,-73.94823792460468

In [156]:
all_lines = set()

for cur_str in mta_data.line.unique():
    all_lines.update(cur_str.upper().replace(" ", "").split("-"))

all_lines = [
    cur_line for cur_line in all_lines if len(cur_line) == 1
]
# cur_lines = [ cur_str for cur_str in sorted(np.unique([ cur_str for cur_str in list(cur_lines)])) if len(cur_str) == 1 ]

# print(cur_lines)

all_lines.sort()

len(all_lines)

23

In [157]:
work_lines = [
    cur_line.replace(" ", "").upper().split("-") for cur_line in mta_data.line
]

for cur_index, cur_line_list in enumerate(work_lines):
    work_lines[cur_index] = [ 
        cur_line for cur_line in cur_line_list if cur_line in all_lines 
    ]

In [160]:
mta_data["lines"] = work_lines

mta_data.drop(columns=["line"], inplace=True)

In [163]:
mta_data.to_pickle("./data/pickles/mta_data.pkl")